<%- include('partials/_header')-%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blog.title %></h1>
            <h2 class="subheading"></h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= blog.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= blog.detail %></p>
        </div>
      </div>
    </div>
  </article>
  <div class="col-xl-4 col-lg-5">
    <!-- Share box -->
    <div class="tm-bg-gray tm-share-box">
      <div class="text-center">
        <a href="/blogs/edit/<%= blog._id %>" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></a>	
      </div>	
      <div class="text-center">
        <a href="/blogs/<%= blog._id %>?_method=DELETE" class="btn btn-danger p-0 tm-btn-animate tm-btn-download tm-icon-download"
        onclick="return confirm('ARE YOU SURE?')"	><span>Delete Photo</span></a>	
      </div>								
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer')-%>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
